/* UploadRecipe.scss */

.upload-recipe {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  &__title {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
    text-align: center;
  }

  &__label {
    margin-bottom: 15px;
    font-size: 1rem;
    color: #333;
  }

  &__input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;

    &::file-selector-button {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #f9f9f9;
      cursor: pointer;
    }
  }

  &__button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    align-self: center;

    &:hover {
      background-color: #0056b3;
    }
  }
}
