.home-page {
  &__hero {
    background-image: url("https://media.istockphoto.com/id/603267744/photo/tapas-food.jpg?s=612x612&w=0&k=20&c=kHdCs_6B9YizzPkuynSpgJnTf8m37xsAQ6czvu0cXBU=");
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    padding: 12px 9vw;
  }

  &__error {
    color: red;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
  }
}
